POSTGRES_PORT=15532
POSTGRES_URL=jdbc:postgresql://postgres:5432/postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=password

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=miniopassword
MINIO_URL=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=miniopassword

BACKEND_PORT=8080
FRONTEND_PORT=5173
APP_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:4173,http://127.0.0.1:4173

VITE_API_BASE_URL=http://localhost:8080
VITE_MEDIA_BASE_URL=http://localhost:9000
VITE_DEV_PROXY_TARGET=http://backend:8080
VITE_ALLOWED_HOSTS=localhost,russify.k-lab.su
VITE_PORT=5173
