.search-bar {
    display: flex;
    align-items: center;
    background: #333;
    border-radius: 4px;
    padding: 8px 12px;
    margin: 16px;
    cursor: pointer;
}

.search-icon {
    margin-right: 8px;
    color: #aaa;
    display: flex;
    align-items: center;
}

.search-icon svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.search-bar input {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    flex: 1;
    outline: none;
    height: 20px;
    line-height: 20px;
    padding: 0;
}